[[repos]]
repo = "https://github.com/astral-sh/ruff-pre-commit"
rev = "v0.15.0"
hooks = [
  {
    id = "ruff-check",
    args = ["--fix"]
  },
  { id = "ruff-format" }
]

[[repos]]
repo = "https://github.com/pre-commit/mirrors-mypy"
rev = "v1.19.1"
hooks = [
  {
    id = "mypy",
    additional_dependencies = ["types-tabulate"]
  }
]

[[repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"
rev = "v6.0.0"
hooks = [
  { id = "trailing-whitespace" },
  { id = "end-of-file-fixer" },
  { id = "check-toml" },
  { id = "check-yaml" },
  { id = "check-json" },
  { id = "check-ast" },
  { id = "check-merge-conflict" }
]
